<div ng-app="flapperNews" ng-controller="MainCtrl">
  <div ng-repeat="post in posts | orderBy: '-upvotes'">
    <span class="btn btn-sm btn-success" ng-click="incrementUpvotes(post)">^</span>
    {{post.title}} - upvotes: {{post.upvotes}}
  </div>

  <form ng-submit="addPost()">
    <div class="form-group">
      <input class="field-input" type="text" ng-model="title" placeholder="Title"></input>
      <input class="field-input" type="number" ng-model="upvotes" placeholder="Vote count"></input>
      <button class="btn btn-default" type="submit">Post</button>
    </div>
  </form>
</div>
